---
import { cn } from "@/lib/utils";
import { cva, type VariantProps } from "class-variance-authority";

const cardVariants = cva(
    "bg-card text-card-foreground",
  {
    variants: {
      variant: {
        default:
          "",
        bordered:
          "border border-border px-2 py-4 ",
      },
    },

    defaultVariants: {
      variant: "default",
    },
  },
);

interface Props extends VariantProps<typeof cardVariants> {
    class?: string;
}

const { variant, class: className } = Astro.props;
---

<div class={cn(cardVariants({ variant }), className )}>
  <slot />
</div>